.logoImg {
    filter: brightness(0) invert(1);
}

@font-face {
    font-family: 'Aspargus';
    font-style: normal;
    font-weight: 400;
    src:
      local('Aspargus'),
      url(../assets/AsparagusSprouts.ttf) format('woff2');
}

.logoFont {
    font-family: 'Aspargus';
    font-size: 40px;
}
  